*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
body{
	overflow: hidden;
}
#app{
	height: 100%;
	.homepage{
		height: 100%;
		.bgbox{
			height: 100%;
			.bgimg{
				height: 100%;
				background: url('./img/bg.jpg')  no-repeat center;
				.bgshadow{
					height: 100%;
					background: rgba(68,68,68,.4);
				}
			}
		}
	}
}